// Sassy
html {
    font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
    line-height: 1.7;
    letter-spacing: 1px;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 15px;
}

a {
    text-decoration: none;
    color: #f6fafb;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
body{
    background-color: #212529;
}

/* 初期設定------------------------------------------------*/

header{
    display: flex;
    z-index: 5;
    
    
    
    

    .header-logo{
        margin: 0 10px 0 10px;

    }
    .header-menus{
        display: flex;
        .header-menus li{
            color: white;

        }

    }
}

.top{
    padding: 200px 0 500px;
    text-align: left;
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    background-repeat: repeat;
    background-position: 0px;
    background-size: cover;
    background-image: url("ai-generated-7802349_1920.jpg");
    z-index: -1;

    .top-message{
        padding-left: 40px;
        padding-top: 90px;
        font-size: large;
        

    }
}
/*--------------------------------------------users--------------------------------------*/
/*---ログインページ--*/
.main{
    position: absolute;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background: rgb(47, 44, 44);
    
    
}
.form-heading{
    font-size: large;
    text-align: center;
    color: aqua;
}  
.form-item{
    color: #ccc;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;

}
.form-error{
    color: red;
}
.form-item input{
    height: 40px;
    width: 40%;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
}


.btn2{
    width: 10%;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #eb6100;

}
@media (max-width: 599px) {
    .btn2{
        padding-left: 2px;
        position: relative;

    }

}

/*---新規登録ページ--*/

.newform-items{
    text-align: center;
    color: #ccc;
    padding-top: 40px;

}
.newform-item {
    height: 25px;
    width: 40%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.btn{
    text-align: center;

}
.btn1{
    
    width: 20%;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    display: inline-block;
    padding: 1rem 4rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: #212529;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #eb6100;
    
}

/*---------------------------------------post--------------------------------------------*/
/*---新規投稿new---*/

.form-items{
    text-align: center;
    padding-top: 25px;
    font-weight: bold
}
.form-items p{
    color: #ccc;
}
.r{
    margin-bottom: 20px;
    padding-top: 20px;
}
label{
    color: rgb(18, 166, 7);
}
.alert{
    color: red;
}


/*---投稿一覧index---*/
.posts-index-item{
    text-align: center;
    border: solid;
    
    margin: 0.5px 20% ;
}

/*---ユーザー詳細show---*/

.user{
    text-align: center;
    color: rgb(135, 155, 188);
    
}
.post-show{
    text-align: center;
    border: solid;
    margin: 0 20% ;
}
.post-user-name{
    font-size: large;
    font-weight: bold;
    
}

/*---ユーザー編集edit---*/
.user-edit{
    text-align: center;
    padding-top: 20px;
}
.user-edit p{
    color: #ccc;
}


/*---編集edit---*/
.edit_from{
    color: #ccc;
    text-align: center;
}
/*---検索search---*/
.search{
    text-align: center;
}
.search-item{
    display: flex;
    text-align: center;
}
.search-item p{
    color: #ccc;
    padding-left: 65px;
    padding-right: 5px;
}
.search-result{
    text-align: center;
    color: aquamarine;
}
th{
    color: #fff;
    padding: 30px 0 0 20px;
}

@media (max-width: 599px){
    .search{
        
    }
    .search-item{
        ;
        display: contents;
        p{
            text-align: center;
        }

    }
    p{
        text-align: center;
    }
}
